@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}


#top {
	background-image: url(./imgs/fundo.png);
	background-repeat: repeat-x;
	/*height: 157px;*/
	padding-bottom:10px;
	overflow: visible;

	-webkit-box-shadow: 0px 0px 6px 0px #555555;
	-moz-box-shadow: 0px 0px 6px 0px #555555;
	box-shadow: 0px 0px 6px 0px #555555;

}

.slide  {
	height: 280px;
	overflow: hidden;
	min-width: 902px;
}

#content .slide
{
	color:#CCC;
}
.wrapper {
	position: relative;
	min-width:900px;
	width:900px;
	margin:auto;
}

hr
{
	display:none;
}

#content{
	/*float:left;
	padding-top:10px;
	*/width:1100px;
	display:block;
	height:940px;
}

#content p{
	margin-top:10px;
	margin-bottom:10px;
}

#top #logotipo {
	width: 300px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#sidemenu a
{
	color:#EDD02E;
}

#sidemenu a:hover
{
	color:#FFFFFF;
}

#menu a
{
	color:#EDD02E;
}

#menu a:hover
{
	color:#FFFFFF;
}

a{
	color:#A68213;
}

a:hover{
	color:#8E1114;
}

a:visited{
	color:#A68213;
}

#sidemenu #subitens li {
	margin-left: 20px;
	list-style-type: none;
}

/*#sidemenu #cowgirl{
	background-image: url(imgs/menu_sprites.jpg);
	background-repeat: no-repeat;
	background-position: -140px -38px ;
	height: 38px;
	width: 140px;
}*/



ul {
	margin: 0px;
	padding: 0px;
	list-style:none;
}

li
{
	list-style:none;
}

h1,h2,h3,h4,h5,h6
{
	font-family:"Times New Roman", Times, serif;
	color:#8E1114;
	margin-top: 10px;
	margin-bottom: 10px;
}


h3 {
	margin: 0px;
	padding: 0px;
}

#sidemenu ul#subitens{
	width: 140px;
	height:100%;
	text-align: left;
	background-color: #2D1A11;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	list-style: none;
}

#sidemenu ul#subitens li{
	list-style: none;
}

ul a{
	color: #FEE952;
	list-style-type: none;
	text-decoration: none;
}
ul a:hover {
	color: #FFF;
	text-decoration: none;
}

ul.post-categories a:hover {
	color:#8E1114;
	text-decoration: none;
}


#sidemenu   {
	width: 140px;
	height:100%;
	float: left;
	z-index: 3;
	position: relative;
	margin-right:20px;

	-webkit-box-shadow: 0px 0px 6px 0px #333;
	-moz-box-shadow: 0px 0px 6px 0px #333;
	box-shadow: 0px 0px 6px 0px #333;
}

#sidebar   {
	height:1065px;
	background-color:#fff;
	display:block;
	right:0px;
	top:160px;
	position: absolute;
	padding-top:30px;
	padding-left: 10px;
	padding-right:10px;
	align:top;
	border-left: solid 2px #a68213;
}

#slide_eventos {
	min-width: 804px;
	width: 804px;
	height: 200px;
	top: 20px;
	border: 2px solid #DDD;	
	margin:auto;
	margin-top:20px;
}

#rodape {
	background-color: #000;
	height: 150px;
	clear: both;
	color: #FFF;
	background-image:url(imgs/footer_bar.png);
	background-position:top center;
	background-repeat:no-repeat;
	border-top:thin #666 solid;
	position: relative;
	display:block;
}


.product
{
	margin:10px;
	float:left;
	list-style:none;
	text-align:center;
	width:200px;
	height:300px;
}

body {
	min-width: 960px;
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content #slide2 {
	height: 300px;
	min-width:900px;
	width:900px;
	position:absolute;
	margin-left:50px;
}

#menu {
	background-color: #590015;
	color: #FFC;
}
#menu ul#principal li{
	display: inline;
	margin-left: 30px;
	font-weight: bold;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
}

#pag
{
	position:relative;
	top:-60px;
	clear:both;
	margin:auto;
	width:550px;
}


#pag a
{
	padding: 10px;
}



#pag a:hover
{
	color:#590015;

	padding: 10px;
}

ul.children
{
	float: left;
}

.product
{
	border: 2px solid #fff;
	-moz-transition: border 0.3s linear;
	-webkit-transition: border 0.3s linear;
	-transition: border 0.3s linear;

	-moz-transition: background-color 0.3s linear;
	-webkit-transition: background-color 0.3s linear;
	-transition: background-color 0.3s linear;
}

.product:hover
{
	border: 2px solid #ccc;
	background-color: #fffbe2;

	-moz-transition: background-color 0.3s linear;
	-webkit-transition: background-color 0.3s linear;
	-transition: background-color 0.3s linear;

	-moz-transition: border 0.3s linear;
	-webkit-transition: border 0.3s linear;
	-transition: border 0.3s linear;
}